* {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
}

body {
    background-color: #ebebeb;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

.header {
    background-color: #c8e300;
    height: 50px;
    border-radius: 0 0 10px 10px;
}

.header__title {
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    text-shadow: 0px 1px 0px grey;
}

.game {
    background-color: white;
    width: 95%;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    padding: 20px 10px;
    text-align: center;
}

.game__title {
    font-size: 1.3em;
    margin-bottom: 15px;
}

.game__fields {
    display: flex;
    justify-content: center;
}

.game__info {
    min-width: 100px;
    align-self: center;
    margin: 15px;
}

.game__field {
    height: 320px;
    width: 320px;
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
}

.game__field-title {
    color:grey;
    font-size: 0.8em;
}

.game__field-row {
    display: flex;
}

.game__field_enemy {
    cursor: pointer;
}

.game__block {
    height: 31px;
    width: 31px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transition: background 0.3s ease-in-out;
}

.game__block:hover {
    opacity: 0.5;
    background-color: grey;
}

.game__block.hit {
    background: url('../img/field/hit.png');
    cursor: default;
    background-size: cover;
}

.game__block.enemy {
    background-color: #ffc83f;
    cursor: default;
}

.game__block.missed {
    background-color: #a5beff;
    cursor: default;
}

.game__block.miss {
    background: url('../img/field/point.png');
    cursor: default;
    background-size: cover;
}

.game__block.ship {
    background-color: blue;
    cursor: default;
}

.game__buttons {
    display: flex;
    flex-direction: column;
    margin:20px;
}

.game__button {
    align-self: center;
    background-color: #37d65f;
	border-radius: 10px;
    width: 180px;
	display: block;
	cursor: pointer;
	color: #ffffff;
	padding: 16px 31px;
    margin: 10px 10px 0;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}

.game__input {
    width: 232px;
    height: 31px;
}

.game__button:hover {
    background-color:#7ed64f;
}

.game__button:active {
    position: relative;
    top: 1px;
}

.game__informer {
    margin-top: 30px;
}

.game__informer-text {
    width: 70%;
    max-width: calc(100% - 20px);
    min-width: 50%;
    min-height: 200px;
    max-height: 500px;
    height: 200px;
    cursor: default;
    border-color: #ededed;
    padding: 10px;
}

@media screen and (max-width: 1380px){
    .wrapper {
        width: 80%;
    } 
}

@media screen and (max-width: 991px){
    .wrapper {
        width: 100%;
    } 
}

@media screen and (max-width: 861px){
    .game__fields {
        flex-direction: column;
        align-items: center;
    }
    .game__info {
        width: 150px;
        height: 30px;
        line-height: 30px;
        margin: 15px 0 10px;
    }
    .header {
        border-radius: 0;
    }
    .game {
        width: 100%;
    }
}

@media screen and (max-width: 425px){
    .game {
        padding: 20px 0;
    }
    .game__field {
        width: 280px;
        height: 280px;
    }
    .game__block {
        width: 27px;
        height: 27px;
    }
}
